.form-group-main {
    width: 100%;
    margin-bottom: 16px;

    input {
        width: 100%;
        border: none;
        font-size: 0.875rem;
        padding: 12px 14px;
        border-radius: 0.25rem;
        color: $light;

    }

    .input-default {
        border:1px solid $light;

        &:focus {
            outline: none;
            border: 1px solid $lighter;
        }

        &::placeholder {
            color: $light;
        }
    }

    .input-success {
        border:1px solid $success;

        &:focus {
            outline: none;
            border: 1px solid $light;
        }

        &::placeholder {
            color: $success;
        }

       
    }
    
    .input-warning {
        border:1px solid $warning;

        &:focus {
            outline: none;
            border:1px solid $light;
        }

        &::placeholder {
            color: $warning;
        }
    }
}

.form-group-alternative {
    width: 100%;
    margin-bottom: 16px;

    input {
        width: 100%;
        border: none;
        font-size: 0.875rem;
        padding: 12px 14px;
        border-radius: 0.25rem;
        color: $light;

        &:focus {
            box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
        }
    }

    .input-default {

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $light;
        }
    }

    .input-success {

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $success;
        }

       
    }
    
    .input-warning {

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $warning;
        }
    }
}

