.card-row {
  .card-body {
    background-color: $white;
    transition: 0.15s all linear;

    &:hover {
      transform: translateY(-15px);
    }

    h6 {
        text-transform: uppercase;
    }

    p {
      font-size: 0.875rem;
      font-weight: 300;
      line-height: 1.7;
    }
  }

  .col-lg-4 {
    z-index: 100;
  }
}
