.tabs {
  li {
    display: flex;
    justify-content: center;
    button {
      padding: 15px 0;
      width: 95%;
      color: $primary;
    }
  }

  p {
    font-weight: 300;
    line-height: 1.7;
    font-size: 0.875rem;
  }
}
