ul {
  margin: 0 !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1040px;
  }
}

.py-96p {
  padding-top: 96px;
  padding-bottom: 96px;
}

.py-64p {
  padding-top: 64px;
  padding-bottom: 64px;
}

.pt-64p {
  padding-top: 64px;
}

.mt-64p {
  margin-top: 64px;
}

.my-64p {
  margin-top: 64px;
  margin-bottom: 64px;
}

.mt-96p {
  margin-top: 96px;
}

.btn {
  font-size: 0.875rem;
  font-weight: 600;
  padding: 10px 20px;
}

.btn-dark {
  color: #fff;
  background-color: #212529;
}

.btn-dark:hover {
  color: #fff;
  background-color: #212529;
}

.btn-primary {
  color: #fff;
  background-color: #5e72e4;
}

.btn-primary:hover {
  color: #fff;
  background-color: #5e72e4;
}

.btn-success {
  color: #fff;
  background-color: #2dce89;
  border-color: #2dce89;
}

.btn-success:hover {
  color: #fff;
  background-color: #2dce89;
  border-color: #2dce89;
}

.btn-danger {
  color: #fff;
  background-color: #f5365c;
}

.btn-danger:hover {
  color: #fff;
  background-color: #fb6340;
  border-color: #f5365c;
}

.btn-warning {
  color: #fff;
  background-color: #fb6340;
}

.btn-warning:hover {
  color: #fff;
  background-color: #fb6340;
}

.btn-info {
  color: #fff;
  background-color: #11cdef;
}

.btn-info:hover {
  color: #fff;
  background-color: #11cdef;
}

.btn-light {
  color: #5e72e4;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-light:hover {
  color: #212529;
  background-color: #fff;
}

.btn-outline-primary {
  color: #5e72e4;
  border-color: #5e72e4;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #5e72e4;
}

.btn-outline-info {
  color: #11cdef;
  border-color: #11cdef;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #11cdef;
}

.btn-outline-success {
  color: #2dce89;
  border-color: #2dce89;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #2dce89;
}

.btn-outline-warning {
  color: #2dce89;
  border-color: #2dce89;
}

.btn-outline-warning:hover {
  color: #fff;
  background-color: #fb6340;
}

.btn-outline-danger {
  color: #f5365c;
  border-color: #f5365c;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #f5365c;
}

.btn-sm {
  font-size: 0.7rem;
  padding: 5px 10px;
}

.btn-md {
  font-size: 0.875rem;
  padding: 10px 20px;
}

.btn-lg {
  font-size: 0.95rem;
  padding: 15px 20px;
}

.btn-link {
  text-decoration: none;
}

.text-default {
  color: #212529;
}

.text-default:hover {
  color: black;
}

.text-primary {
  color: #5e72e4 !important;
}

.text-primary:hover {
  color: #324cdd !important;
}

.text-white {
  color: #fff;
}

.text-white:hover {
  color: #adb5bd;
}

.text-gray {
  color: #8898aa;
}

.text-gray:hover {
  color: #525f7f;
}

.text-info {
  color: #11cdef !important;
}

.text-info:hover {
  color: #0da5c0 !important;
}

.text-success {
  color: #2dce89 !important;
}

.text-success:hover {
  color: #24a46d !important;
}

.text-warning {
  color: #fb6340 !important;
}

.text-warning:hover {
  color: #fa3a0e !important;
}

.text-danger {
  color: #f5365c !important;
}

.text-danger:hover {
  color: #ec0c38 !important;
}

.span-primary {
  color: #5e72e4 !important;
}

.span-white {
  color: #fff;
}

.span-info {
  color: #11cdef !important;
}

.span-success {
  color: #2dce89 !important;
}

.span-warning {
  color: #fb6340 !important;
}

.span-danger {
  color: #f5365c !important;
}

.bg-default {
  background-color: #172b4d;
}

.bgcolor-secondary {
  background-color: #f4f5f7;
}

.bgcolor-success {
  background-color: #2dce89;
}

.bgcolor-info {
  background-color: #11cdef;
}

.bgcolor-danger {
  background-color: #f5365c;
}

.bgcolor-warning {
  background-color: #fb6340;
}

.spanbg-primary {
  background-color: rgba(203, 210, 246, 0.5);
}

.spanbg-success {
  background-color: rgba(147, 231, 195, 0.5);
}

.spanbg-info {
  background-color: rgba(136, 230, 247, 0.5);
}

.spanbg-danger {
  background-color: rgba(251, 175, 190, 0.5);
}

.spanbg-warning {
  background-color: rgba(254, 201, 189, 0.5);
}

.textcolor-primary {
  color: #5e72e4;
}

.textcolor-info {
  color: #11cdef;
}

.textcolor-success {
  color: #2dce89;
}

.textcolor-warning {
  color: #fb6340;
}

.textcolor-danger {
  color: #f5365c;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus {
  outline: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.download-button {
  background-color: #fff;
  padding: 14px 20px !important;
  margin: 0 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  transition: 0.15s all linear;
}

.download-button:hover {
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transform: translateY(-2px);
}

.download-button:hover svg {
  fill: #212529;
}

.download-button:hover span {
  color: black;
}

.download-button svg {
  fill: #5e72e4;
  margin: 0 7px 0 0;
}

.download-button span {
  color: #5e72e4;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
}

.intro-buttons__download {
  background-color: #fff;
  padding: 14px 20px !important;
  border-radius: 3px;
  text-decoration: none;
  transition: 0.15s all linear;
}

.intro-buttons__download:hover {
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transform: translateY(-2px);
}

.intro-buttons__download svg {
  fill: #212529;
  margin: 0 7px 0 0;
}

.intro-buttons__download span {
  color: #212529;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
}

.intro-buttons__github {
  background-color: #212529;
  padding: 14px 20px !important;
  border-radius: 3px;
  text-decoration: none;
  transition: 0.15s all linear;
}

.intro-buttons__github:hover {
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transform: translateY(-2px);
}

.intro-buttons__github svg {
  fill: #fff;
  margin: 0 7px 0 0;
}

.intro-buttons__github span {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
}

.intro-buttons__github span span {
  color: #fb6340;
}

.sub-heading {
  color: #2dce89;
  font-size: 1.5rem;
  font-weight: 600;
}

.category-heading small {
  font-size: 80%;
  font-weight: 600;
}

.form-group-main {
  width: 100%;
  margin-bottom: 16px;
}

.form-group-main input {
  width: 100%;
  border: none;
  font-size: 0.875rem;
  padding: 12px 14px;
  border-radius: 0.25rem;
  color: #adb5bd;
}

.form-group-main .input-default {
  border: 1px solid #adb5bd;
}

.form-group-main .input-default:focus {
  outline: none;
  border: 1px solid #e9ecef;
}

.form-group-main .input-default::placeholder {
  color: #adb5bd;
}

.form-group-main .input-success {
  border: 1px solid #2dce89;
}

.form-group-main .input-success:focus {
  outline: none;
  border: 1px solid #adb5bd;
}

.form-group-main .input-success::placeholder {
  color: #2dce89;
}

.form-group-main .input-warning {
  border: 1px solid #fb6340;
}

.form-group-main .input-warning:focus {
  outline: none;
  border: 1px solid #adb5bd;
}

.form-group-main .input-warning::placeholder {
  color: #fb6340;
}

.form-group-alternative {
  width: 100%;
  margin-bottom: 16px;
}

.form-group-alternative input {
  width: 100%;
  border: none;
  font-size: 0.875rem;
  padding: 12px 14px;
  border-radius: 0.25rem;
  color: #adb5bd;
}

.form-group-alternative input:focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.form-group-alternative .input-default:focus {
  outline: none;
}

.form-group-alternative .input-default::placeholder {
  color: #adb5bd;
}

.form-group-alternative .input-success:focus {
  outline: none;
}

.form-group-alternative .input-success::placeholder {
  color: #2dce89;
}

.form-group-alternative .input-warning:focus {
  outline: none;
}

.form-group-alternative .input-warning::placeholder {
  color: #fb6340;
}

.bg-color-primary {
  background-color: #5e72e4;
}

.bg-color-success {
  background-color: #2dce89;
}

.bg-color-default {
  background-color: #172b4d;
}

.bg-color-danger {
  background-color: #f5365c;
}

.bg-color-warning {
  background-color: #fb6340;
}

.bg-color-info {
  background-color: #11cdef;
}

.border-radius {
  border-radius: 5px;
}

.svg-lg svg {
  font-size: 18px;
}

.heading {
  font-size: 2rem;
  color: #212529;
}

.progress-wrapper {
  padding-top: 24px;
}

.progress-wrapper .progress-info {
  margin-bottom: 12px;
}

.progress-wrapper .progress-info .progress-label span {
  font-size: 0.625rem;
  color: #5e72e4;
  padding: 0.25rem 1rem;
  background: rgba(94, 114, 228, 0.1);
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 600;
}

.progress-wrapper .progress-info .progress-percentage span {
  font-size: 0.875rem;
}

.progress-wrapper .progress-bars .progress {
  height: 8px;
  margin-bottom: 16px;
}

.progress-wrapper .progress-bars .progress .w-40 {
  width: 40%;
}

.progress-wrapper .progress-bars .progress .w-60 {
  width: 60%;
}

.alert-container {
  padding: 16px 24px;
  margin-top: 20px;
  display: flex;
  border-radius: 0.25rem;
  justify-content: space-between;
  align-items: center;
}

.alert-container__left span {
  color: #fff;
  font-size: .875rem;
  margin-left: 10px;
}

.alert-container__left span span {
  font-weight: 700;
}

.alert-container__left svg {
  fill: #fff;
  font-size: 20px;
}

.alert-container .close-alert {
  border: none;
  background-color: transparent;
}

.alert-container .close-alert span {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.5rem;
}

.heading-component small {
  font-size: 80%;
  font-weight: 600;
  text-transform: uppercase;
  color: #8898aa;
}

.heading-component h1 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.5;
}

.heading-component h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}

.heading-component h3 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.5;
}

.heading-component h4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

.heading-component h5 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}

.heading-component h6 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.display-component small {
  font-size: 80%;
  font-weight: 600;
  text-transform: uppercase;
  color: #8898aa;
}

.display-component h1 {
  font-size: 3.3rem;
  font-weight: 400;
  line-height: 1.5;
}

.display-component h2 {
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 1.5;
}

.display-component h3 {
  font-size: 2.1875rem;
  font-weight: 400;
  line-height: 1.5;
}

.display-component h4 {
  font-size: 1.6275rem;
  font-weight: 400;
  line-height: 1.5;
}

.display-component h5 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}

.display-component h6 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.specialized-titles small {
  font-size: 80%;
  font-weight: 600;
  text-transform: uppercase;
  color: #8898aa;
}

.specialized-titles .heading {
  letter-spacing: 0.025em;
  font-size: 0.95rem;
  text-transform: uppercase;
  font-weight: 400;
}

.specialized-titles .heading-title {
  color: #fb6340;
  letter-spacing: 0.025em;
  font-size: 1.375rem;
  font-weight: 600;
  text-transform: uppercase;
}

.specialized-titles .heading-seaction h3 {
  font-size: 2.1875rem;
  font-weight: 600;
  line-height: 1.5;
}

.specialized-titles .heading-seaction p {
  color: #8898aa;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.7;
  margin-top: 1.5rem;
}

.paragraph small {
  font-size: 80%;
  font-weight: 600;
  text-transform: uppercase;
  color: #8898aa;
}

.paragraph p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
}

.paragraph .paragraph-text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
  color: #8898aa;
}

.paragraph .lead-text {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.7;
  margin-top: 1.5rem;
  color: #8898aa;
}

.paragraph .quote {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
  color: #8898aa;
}

.paragraph span {
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 500;
  color: #8898aa;
}

.paragraph span::before {
  content: "\2014 \00A0";
}

.avatar-section small {
  display: block;
  text-transform: uppercase;
  color: #8898aa;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 24px;
}

.avatar-section .img-fluid {
  max-width: 100%;
  height: auto;
}

.separator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.separator svg polygon {
  fill: #fff;
}

.navigation-pills {
  display: flex;
}

.navigation-pills__list {
  padding-right: 16px;
}

.navigation-pills__pill {
  color: #5e72e4;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.navigation-pills__pill svg {
  font-size: 18px;
}

.navigation-pills__pill:hover {
  color: #5e72e4;
}

.navigation-pills__pill.active {
  background-color: #5e72e4;
  color: #fff;
}

.badge-pill {
  display: inline-block;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  line-height: 1;
  border-radius: 50px;
  margin: 8px 8px 8px 0;
}

.nav-bar {
  width: 100%;
  padding: 16px;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: 0.15s all linear;
}

.nav-bar__logo {
  height: 30px;
}

.nav-bar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.nav-bar__menu ul {
  display: flex;
  justify-content: unset;
  align-items: unset;
  list-style: none;
}

.nav-bar__menu .menu-dropdown li {
  margin-right: 8px;
}

.nav-bar__menu .menu-dropdown li a {
  color: #fff;
  text-decoration: none;
  cursor: text;
  padding: 16px;
}

.nav-bar__menu .menu-dropdown li a span {
  font-size: 0.9rem;
}

.nav-bar__menu .menu-dropdown .examples {
  position: relative;
}

.nav-bar__menu .menu-dropdown .examples__drop {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  top: 65px;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
  padding: 0.5rem 0;
}

.nav-bar__menu .menu-dropdown .examples__drop::before {
  background: #fff;
  box-shadow: none;
  content: "";
  display: block;
  height: 16px;
  width: 16px;
  left: 20px;
  position: absolute;
  bottom: 100%;
  transform: rotate(-45deg) translateY(1rem);
}

.nav-bar__menu .menu-dropdown .examples__drop.active {
  visibility: visible;
  opacity: 2;
  transform: translateY(0px);
}

.nav-bar__menu .menu-dropdown .examples__drop.disable {
  transform: translateY(20px);
  z-index: 10;
}

.nav-bar__menu .menu-dropdown .examples__drop:hover {
  visibility: visible;
  opacity: 2;
  transform: translateY(0px);
}

.nav-bar__menu .menu-dropdown .examples__drop li {
  margin: 0;
}

.nav-bar__menu .menu-dropdown .examples__drop li a {
  cursor: pointer;
  display: block;
  padding: 0.8rem 8.5rem 0.5rem 1rem;
  font-size: 0.875rem;
  color: #212529;
}

.nav-bar__menu .menu-dropdown .examples__drop li:hover {
  background-color: #f6f9fc;
}

.nav-bar__menu .menu-icons {
  display: flex;
  justify-content: unset;
  align-items: center;
}

.nav-bar__menu .menu-icons li {
  margin-right: 0.5rem;
}

.nav-bar__menu .menu-icons li a {
  padding: 16px 8px;
  color: #fff;
  text-decoration: none;
  transition: all 0.15s linear;
}

.nav-bar__menu .menu-icons li a:hover {
  color: rgba(255, 255, 255, 0.65);
}

.nav-bar.sticky {
  top: 0;
  left: 0;
  background-color: #172b4d;
}

.nav-bar.hide {
  top: -80px;
}

.template-photo {
  padding: 100px 0 0 0;
  position: relative;
}

.template-photo::before {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 200px;
  width: 100%;
  height: 2000px;
  background: #f4f5f7;
  transform: skew(0, -8deg);
}

.template-photo .img-container {
  transition: 0.15s all linear;
}

.template-photo .img-container:hover {
  transform: translateY(-15px);
}

.footer {
  padding: 0 0 48px 0;
  position: relative;
  overflow: hidden;
}

.intro {
  width: 100%;
  background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
  padding: 96px 0;
  position: relative;
}

.intro__logo {
  width: 200px;
}

.intro__content {
  margin: 24px 0 16px 0;
  font-weight: 300;
  text-align: center;
  font-size: 1.25rem;
  color: #fff;
  line-height: 1.7;
}

.intro .intro-buttons {
  line-height: 1.5;
  display: flex;
}

.intro__footer-content {
  color: #fff;
}

.intro__footer-content small {
  font-size: 12px;
  font-weight: 600;
}

.basic-elements {
  padding-top: 64px;
}

.basic-elements button {
  margin: 8px 8px 8px 0;
  transition: all 0.15s linear;
}

.basic-elements button:focus {
  outline: none;
}

.basic-elements button:hover {
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transform: translateY(-2px);
}

.inputs {
  padding-top: 64px;
}

.checks-radios {
  padding: 64px 0;
}

.checks-radios input:checked {
  background-color: #5e72e4;
}

.checks-radios .form-switch input {
  padding: 12px 25px;
}

.checks-radios .form-switch input:focus {
  outline: none;
}

.home-main {
  padding: 64px 0;
}

.bootstrap-carousel {
  width: 100%;
  background: linear-gradient(150deg, #7795f8 15%, #6772e5 70%, #555abf 94%);
  position: relative;
  padding: 64px 0;
}

.bootstrap-carousel h1 {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 300;
}

.bootstrap-carousel p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.7;
  color: #fff;
}

.login-register {
  position: relative;
  padding: 96px 0;
  background: linear-gradient(150deg, #7795f8 15%, #6772e5 70%, #555abf 94%);
}

.login-register h3 {
  color: #fff;
  font-size: 2.1875rem;
  font-weight: 600;
  line-height: 1.5;
}

.login-register h3 span {
  font-weight: 300;
}

.login-register p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.7;
  margin-top: 1.5rem;
  color: #fff;
}

.login-register .authentication {
  transform: scale(1) perspective(1040px) rotateY(-11deg) rotateX(2deg) rotate(2deg);
}

.download-angular {
  padding: 96px 0;
}

.download-angular h2 {
  font-size: 2.1875rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 8px;
}

.download-angular h2 span {
  display: block;
  font-weight: 300;
  color: #2dce89;
}

.download-angular p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.7;
  margin-top: 1.5rem;
  margin: 24px 0 16px 0;
}

.download-angular h4 {
  font-size: 1.6275rem;
  font-weight: 600;
  line-height: 1.5;
}

.nucleo-icons {
  padding: 96px 0 250px 0;
}

.nucleo-icons h2 {
  font-weight: 600;
}

.nucleo-icons p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.7;
  margin-top: 1.5rem;
}

.nucleo-icons .btn {
  transition: .15s all linear;
}

.nucleo-icons .btn:hover {
  transform: translateY(-2px);
}

.support h3 {
  color: #5e72e4;
  font-size: 1.75rem;
  font-weight: 300;
}

.support h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

.support .footer-links a {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-right: 8px;
}

.support .footer-links a:hover {
  transform: translateY(-1px);
}

.support .footer-links__twitter {
  background-color: #1da1f2;
}

.support .footer-links__facebook {
  background-color: #3b5999;
}

.support .footer-links__dribbble {
  background-color: #ea4c89;
}

.support .footer-links__github {
  background-color: #222;
}

.support .copyright {
  width: 100%;
  font-size: 14px;
  color: #8898aa;
}

.support .copyright a {
  padding: 0;
  margin-left: 5px;
}

.authentication {
  background: linear-gradient(87deg, #172b4d 0, #1a174d 100%);
  text-align: center;
}

.authentication .card-header {
  padding: 20px 24px 48px 24px;
  background-color: #fff;
  border-bottom: none;
}

.authentication .card-header svg {
  color: #212529;
  font-size: 20px;
  margin-right: 10px;
}

.authentication .card-header a {
  transition: 0.15s all linear;
}

.authentication .card-header a:hover {
  transform: translateY(-2px);
}

.authentication .card-body {
  background-color: #f4f5f7;
}

.authentication .card-body button {
  transition: 0.15s all linear;
}

.authentication .card-body button:hover {
  transform: translateY(-2px);
}

.authentication small {
  font-size: 13px;
  color: #8898aa;
}

.authentication .form .input-group {
  font-size: 14px;
  position: relative;
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
}

.authentication .form .input-group svg {
  position: absolute;
  font-size: 20px;
  top: 12px;
  left: 5px;
  color: #adb5bd;
  z-index: 500;
}

.authentication .form .input-group input {
  border: none;
  padding: 10px 0 10px 32px;
  color: #8898aa;
}

.authentication .form .remember {
  text-align: start;
}

.authentication .form .remember input {
  padding: 8px;
}

.authentication .form .remember input:checked {
  background-color: #5e72e4;
}

.authentication .form .remember label {
  color: #adb5bd;
  padding-top: 2px;
  font-size: 0.875rem;
  margin-left: 10px;
}

.authentication .form .remember.privacy a {
  text-decoration: none;
  color: #212529;
}

.authentication .form .remember.privacy a span {
  color: #5e72e4;
}

.authentication {
  background: linear-gradient(87deg, #172b4d 0, #1a174d 100%);
  text-align: center;
}

.authentication .card-header {
  padding: 20px 24px 48px 24px;
  background-color: #fff;
  border-bottom: none;
}

.authentication .card-header svg {
  color: #212529;
  font-size: 20px;
  margin-right: 10px;
}

.authentication .card-header a {
  transition: 0.15s all linear;
}

.authentication .card-header a:hover {
  transform: translateY(-2px);
}

.authentication .card-body {
  background-color: #f4f5f7;
}

.authentication .card-body button {
  transition: 0.15s all linear;
}

.authentication .card-body button:hover {
  transform: translateY(-2px);
}

.authentication small {
  font-size: 13px;
  color: #8898aa;
}

.authentication .form .input-group {
  font-size: 14px;
  position: relative;
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
}

.authentication .form .input-group svg {
  position: absolute;
  font-size: 20px;
  top: 12px;
  left: 5px;
  color: #adb5bd;
  z-index: 500;
}

.authentication .form .input-group input {
  border: none;
  padding: 10px 0 10px 32px;
  color: #8898aa;
}

.authentication .form .remember {
  text-align: start;
}

.authentication .form .remember input {
  padding: 8px;
}

.authentication .form .remember input:checked {
  background-color: #5e72e4;
}

.authentication .form .remember label {
  color: #adb5bd;
  padding-top: 2px;
  font-size: 0.875rem;
  margin-left: 10px;
}

.authentication .form .remember.privacy a {
  text-decoration: none;
  color: #212529;
}

.authentication .form .remember.privacy a span {
  color: #5e72e4;
}

.authentication {
  background: linear-gradient(87deg, #172b4d 0, #1a174d 100%);
  text-align: center;
}

.authentication .card-header {
  padding: 20px 24px 48px 24px;
  background-color: #fff;
  border-bottom: none;
}

.authentication .card-header svg {
  color: #212529;
  font-size: 20px;
  margin-right: 10px;
}

.authentication .card-header a {
  transition: 0.15s all linear;
}

.authentication .card-header a:hover {
  transform: translateY(-2px);
}

.authentication .card-body {
  background-color: #f4f5f7;
}

.authentication .card-body button {
  transition: 0.15s all linear;
}

.authentication .card-body button:hover {
  transform: translateY(-2px);
}

.authentication small {
  font-size: 13px;
  color: #8898aa;
}

.authentication .form .input-group {
  font-size: 14px;
  position: relative;
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
}

.authentication .form .input-group svg {
  position: absolute;
  font-size: 20px;
  top: 12px;
  left: 5px;
  color: #adb5bd;
  z-index: 500;
}

.authentication .form .input-group input {
  border: none;
  padding: 10px 0 10px 32px;
  color: #8898aa;
}

.authentication .form .remember {
  text-align: start;
}

.authentication .form .remember input {
  padding: 8px;
}

.authentication .form .remember input:checked {
  background-color: #5e72e4;
}

.authentication .form .remember label {
  color: #adb5bd;
  padding-top: 2px;
  font-size: 0.875rem;
  margin-left: 10px;
}

.authentication .form .remember.privacy a {
  text-decoration: none;
  color: #212529;
}

.authentication .form .remember.privacy a span {
  color: #5e72e4;
}

.profile-background {
  height: 580px;
  width: 100%;
  position: relative;
}

.profile-background__cover {
  height: 100%;
  background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
  width: 100%;
}

.user-info {
  padding: 64px 0;
}

.user-info .card-profile {
  margin-top: -300px;
}

.user-info__avatar {
  transform: translate(-50%, -30%);
  position: absolute;
  left: 50%;
  transition: all 0.15s ease;
  cursor: pointer;
}

.user-info__avatar:hover {
  transform: translate(-50%, -35%);
}

.user-info .statistic {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 1rem;
  padding: 0.875rem;
}

.user-info .statistic__count {
  font-size: 1.1rem;
  font-weight: 700;
  display: block;
  color: #212529;
  margin-bottom: 10px;
}

.user-info .statistic__name {
  font-size: 0.875rem;
  color: #adb5bd;
}

.user-info__fullname {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.user-info__country {
  margin-bottom: 0.5rem;
}

.user-info__country span {
  font-weight: 300;
}

.user-info__profession {
  font-size: 1rem;
  margin: 24px 0 8px 0;
}

.user-info__university {
  margin-top: 15px;
}

.user-info__information {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
  margin-bottom: 1rem;
}

.user-info__information a {
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */