.checks-radios {
    padding: 64px 0;

    input {

        &:checked {
            background-color: $primary;

        }
    }
    
    .form-switch {

        input {
            padding: 12px 25px;

            &:focus {
                outline: none;
            }

        }
    }
}