.download-angular {
  padding: 96px 0;

  h2 {
    font-size: 2.1875rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 8px;

    span {
      display: block;
      font-weight: 300;
      color: $success;
    }
  }

  p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.7;
    margin-top: 1.5rem;
    margin: 24px 0 16px 0;
  }

  h4 {
    font-size: 1.6275rem;
    font-weight: 600;
    line-height: 1.5;
  }
}
