.landing-intro {
  width: 100%;
  padding: 96px 0 250px 0;
  background: linear-gradient(150deg, #7795f8 15%, #6772e5 70%, #555abf 94%);
  position: relative;

  h1 {
    font-size: 2.1875rem;
    font-weight: 600;
    line-height: 1.5;
    color: $white;

    span {
        font-weight: 300;
    }
  }

  p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.7;
    margin-top: 1.5rem;
    color: $white;
  }
}