.landing-costumer {
  padding: 64px 0;
  background-color: #f4f5f7;

  .landing-card {
    background-color: #172b4d;
    border-radius: 5px;

    &__img {
      width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  .card-content {
    padding: 32px;
    h4 {
      font-size: 2.1875rem;
      font-weight: 600;
      line-height: 1.5;
      color: $white;
    }

    p {
      font-size: 1.25rem;
      font-weight: 300;
      line-height: 1.7;
      margin-top: 1.5rem;
      color: $white;
    }
  }

  &__right {
    .shadow {
      width: 60px;
      height: 60px;

      svg {
        font-size: 26px;
      }
    }

    .first-paragraph {
      font-size: 1.25rem;
      font-weight: 300;
      line-height: 1.7;
      margin-top: 1.5rem;
    }

    p {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.7;
    }

    a {
        font-size: 16px; 
    }
  }
}
