.nav-bar {
  width: 100%;
  padding: 16px;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: 0.15s all linear;

  &__logo {
    height: 30px;
  }

  &__menu {
    @include justify(space-between, center);
    color: $white;

    ul {
      @include justify(unset, unset);
      list-style: none;
    }

    .menu-dropdown {
      li {

        span {
          color: $white;
          text-decoration: none;
          cursor: text;
          padding: 16px 8px;
          span {
            font-size: 0.9rem;
          }
        }

      }

      .examples {
        position: relative;

        &__drop {
          display: flex;
          flex-direction: column;
          background-color: $white;
          position: absolute;
          z-index: 1;
          top: 65px;
          visibility: hidden;
          opacity: 0;
          transition: 0.2s ease-in-out;
          border-radius: 5px;
          padding: 0.5rem 0;

          &::before {
            background: #fff;
            box-shadow: none;
            content: "";
            display: block;
            height: 16px;
            width: 16px;
            left: 20px;
            position: absolute;
            bottom: 100%;
            transform: rotate(-45deg) translateY(1rem);
          }

          &.active {
            visibility: visible;
            opacity: 2;
            transform: translateY(0px);
          }

          &.disable {
            transform: translateY(20px);
            z-index: 10;
          }

          &:hover {
            visibility: visible;
            opacity: 2;
            transform: translateY(0px);
          }

          li {
            margin: 0;

            a {
              cursor: pointer;
              display: block;
              padding: 0.8rem 8.5rem 0.5rem 1rem;
              font-size: 0.875rem;
              color: $dark;
            }

            &:hover {
              background-color: #f6f9fc;
            }
          }
        }
      }
    }

    .menu-icons {
      @include justify(unset, center);

      li {
        margin-right: 0.5rem;

        a {
          padding: 16px 8px;
          color: $white;
          text-decoration: none;
          transition: all 0.15s linear;

          &:hover {
            color: rgba(255, 255, 255, 0.65);
          }
        }
      }
    }
  }
}

.nav-bar.sticky {
  top: 0;
  left: 0;
  background-color: $default;
}

.nav-bar.hide {
  top: -80px;
}
